@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #5c7fb8;
}

a:hover {
    text-decoration: underline;
}

.movie-card {
    font: 14px/22px "Lato", Arial, sans-serif;
    color: #a9a8a3;
    padding: 40px 0;
}

.container {
    width: 780px;
    height: 640px;
    background: #f0f0ed;
    border-radius: 5px;
    position: relative;
}

.hero {
    height: 342px;
    margin: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.details {
}

.details .title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    position: relative;
}

.details .title1 span {
    position: absolute;
    top: 3px;
    margin-left: 12px;
    background: #c4af3d;
    border-radius: 5px;
    color: #544c21;
    font-size: 14px;
    padding: 0px 4px;
}

.details .title2 {
    color: #c7c1ba;
    font-size: 23px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: -5px;
}



.detailsPage {
    background-size: auto;
    background-repeat: no-repeat;
    /*filter: blur(10px);*/
}


.details {
    border-radius: 10px;
    color: #fff;
    padding: 15px 50px;
    text-align: center;
    display: block;
    width: 60%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 63%, rgba(0,161,194,1) 100%);
}

.details:hover {
    background-color: #333333;
}

.customButton {
        padding-left: 6px;
        padding-right: 6px;
        left: 35%;
        bottom: 45px;
        cursor: pointer;
        transition: all 0.3s;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
        font-weight: bold;
        width: 100px;
        height: 40px;
        /*color: rgba(9, 9, 121, 1); */
        border-radius: 25px;
        list-style: none;
        display: grid;
        place-items: center;
        float: left;
        font-family: "Lato";
        /*color: rgb(31, 44, 163);*/
        line-height: 20px;
        margin-left: 5px;
        border-width :medium;
        border-color: rgb(44, 44, 167);
        background-color: rgb(255, 255, 255);
      transform: scale(0.9);
      transition: all 0.3s ease-in-out;
      border-width :thin;
      border-color: rgb(255, 255, 255);
    }

    .customButton:hover{
        background: linear-gradient(
          90deg,
          rgb(0, 0, 0) 0%,
          rgb(7, 7, 91) 64%);
      color: white;
      transform: scale(0.9);
      transition: all 0.3s ease-in-out;
      border-width :thin;
      border-color: rgb(255, 255, 255);
      font-weight: bold;
    }


.movieReleaseDateD {
    margin-bottom: 10px;
    margin-top: 10px;

    font-weight: lighter;
}

.movieTitleD {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0;
}

.movieDescriptionD {
    padding-bottom: 1px;
}


.rateAndLang {
    display: flex;
    justify-content: space-between;
}

.rateAndLangD {
    display: flex;
    justify-content: space-around;
}
.notSameLine{
    display: inline-block;
}


.detailsPage {
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    background-position: center;
    align-items: flex-end;
}

.moviePosterD {
    width: 300px;
    border-radius: 5px;    
    margin-left: 30%;
    animation-name: shadowAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes shadowAnimation {
    from {
        box-shadow: 0px 0px 15px 15px rgb(0, 12, 45);
        transform: scale(1.0);
    } to {
        box-shadow: 0px 0px 10px 10px rgb(3, 3, 120);
        transform: scale(1.1);
    }
}

@media (max-width: 1000px) {
    .detailsPage {
        background-position: center;
        background-size: cover;
    }
    .details {
        width: 100%;
    }
    .movieReleaseDateD {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .movieTitleD {
        font-size: 18px;
    }
    .movieDescriptionD {
        font-size: 14px;
    }
    .moviePosterD {
        display: none;
    }
}

#garden {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
    align-items: center;

}

.primera{
    grid-column-start:1;
    grid-row-start:1;
}

.segunda{
    grid-column-start:2;
    grid-row-start:1;
}

